{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for vid_raboty collections block.
 */
#}
{% block content %}
  {{ attach_library('azr/vid_raboty-collections') }}
  <div class="container">
    {{ parent() }}
  </div>
{% endblock %}
