/**
* @file
* This file is used to style the 'Card' view mode.
*/

.view-mode-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e6eee0;
}

.view-mode-card .node__title {
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
}

.view-mode-card .field--name-title {
  text-decoration: none;
  color: #0195d3;
  font-size: 1.424rem;
  font-weight: 400;
}

.view-mode-card .node__link {
  text-decoration: none;
  color: #000;
  background-color: inherit;
}

.view-mode-card .node__link:focus,
.view-mode-card .node__link:hover {
  text-decoration: underline;
  color: #000;
}

/* Need to fix IE11 cards height issue */
.view-mode-card .node__content {
  flex-shrink: 0;
}

.view-mode-card .field--name-field-media-image img {
  display: block;
  width: 100%;
  margin-bottom: 1.2em;
}

.view-mode-card .label-items {
  color: #5f635d;
  font-size: 0.889rem;
}

/**
* @file
* This file is used to style the 'OWL Card' view mode.
*/

#owl-wrapper-outer .view-mode-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

#owl-wrapper-outer .view-mode-card .node__title {
  flex-grow: 1;
}

#owl-wrapper-outer .view-mode-card .field--name-title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: absolute;
  top: 5.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 1;
}

#owl-wrapper-outer .view-mode-card .node__link {
  text-decoration: none;
  color: #000;
  background-color: inherit;
}

#owl-wrapper-outer .view-mode-card .node__link:focus,
#owl-wrapper-outer .view-mode-card .node__link:hover {
  text-decoration: underline;
  color: #000;
}

/* Need to fix IE11 cards height issue */
#owl-wrapper-outer .view-mode-card .node__content {
  flex-shrink: 0;
}

#owl-wrapper-outer .view-mode-card .field--name-field-media-image img {
  display: block;
  width: 100%;
  margin-bottom: 1.2em;
  filter: brightness(.5);
}

#owl-wrapper-outer .view-mode-card .label-items {
  color: #5f635d;
  font-size: 0.889rem;
}

#owl-wrapper-outer .view-mode-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.1rem;
    border: unset;
}

.vr_link {
font-family: Helvetica,Arial,sans-serif;
font-size: 20px !important;
font-weight: 600 !important;
line-height: 2.5;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}
