/**
 * @file
 * This is the base CSS file, for styling elements.
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin-top: 0; /* This allows us to ensure that items side-by-side line up nicely. */
}

*:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: #005dbe;
  outline-offset: 2px; /* Not supported in IE11 but greatly improves outline visibility in newer browsers. */
}

a {
  text-decoration: underline;
  color: #005dbe;
}
a:hover,
a:focus {
  color: #cc2a00;
  background-color: #e6eee0;
}

body {
  margin: 0;
  color: #464646;
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

blockquote {
  margin: 0 0 1.28rem;
  padding: 1.5rem;
  background: #f4f2e9;
}
blockquote p:last-child {
  margin-bottom: 0;
}
/* Small */
@media screen and (min-width: 30rem) { /* 480px */
  blockquote {
    margin: 0 1.5rem 1.28rem;
    padding: 1.5rem;
  }
}
/* Medium */
@media screen and (min-width: 40rem) { /* 640px */
  blockquote {
    margin: 0 2.5rem 1.28rem;
    padding: 3rem;
  }
}
blockquote > * {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.266rem;
  line-height: 1.5;
}
blockquote a {
  /* Tweak default link color to improve contrast for accessibility */
  color: #057d6d;
}
blockquote a:hover,
blockquote a:focus {
  background-color: #fdfcf9;
}

button,
.button,
.button[type="submit"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  min-width: inherit;
  max-width: inherit;
  margin: 0;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #005dbe;
  border-radius: 3px;
  background-color: #005dbe;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
  transition: background-color 0.5s ease;
  text-decoration: none;
  color: #000;
  background-color: #e6eee0;
}
button[disabled]:hover,
button[disabled]:active,
button[disabled]:focus,
button[disabled],
.button[disabled]:hover,
.button[disabled]:active,
.button[disabled]:focus,
.button[disabled] {
  cursor: default;
  color: #464646;
  background: #767775;
}

h1 {
  margin: 0 0 1.07rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.424rem; /* +3 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h1 {
    font-size: 2.369rem;
  }
}

h2 {
  margin: 0 0 0.7rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.266rem;  /* +2 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h2 {
    font-size: 1.77rem;
  }
}

h3 {
  margin: 0 0 0.96rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.2;/* +1 based on 1.125 modular scale (major second) */
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  margin: 0 0 1.28rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h4 {
    font-size: 1.33rem;
  }
}

h5 {
  margin: 0 0 1.28rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.889rem; /* -1 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  margin: 0 0 1.28rem 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.79rem; /* -1 based on 1.125 modular scale (major second) */
  line-height: 1.2;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  h6 {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.form-select {
  margin: 0.25rem 0;
  color: #000;
  border: 2px solid #767775;
  background: #fff;
  font-size: 1rem;
}

.form-select:focus {
  margin-bottom: 2px;
  border: 2px solid #00836d;
}

input {
  min-width: 100%;
  max-width: 100%;
  margin: 0.25rem 0;
  padding: 0.8rem 0.4rem;
  color: #000;
  border: 2px solid #767775;
  font-size: 1rem;
}
input:focus {
  border: 2px solid #005dbe;
}
input[type="checkbox"] {
  min-width: inherit;
  max-width: none;
}

textarea {
  padding: 0.8rem 0.4rem;
  color: #000;
  border: 2px solid #767775;
}
textarea:focus {
  border: 2px solid #005dbe;
}

label {
  display: block;
  margin: 0.25rem 0;
  color: #464646;
  font-size: 1rem;
  font-weight: 700;
}

/**
 * Prevent regression due to fieldset styling that was removed in normalize.css
 * 6.0.0.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

/**
 * Prevent regression due to explicit line-height applied to these elements in
 * normalize.css 7.0.0.
 */
button,
textarea {
  line-height: 1.5rem;
}
optgroup,
input:not([type="file"]) {
  line-height: normal;
}

/**
 * Prevent regression due to changes in normalize.css 4.1.0.
 */
::-webkit-file-upload-button {
  -webkit-appearance: push-button;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

ul,
ol {
  margin-bottom: 1.28rem;
}
ol ol,
ol ul,
ul ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 1.28rem;
}

/**
 * Prevent regression table/td/th rules removed in normalize.css 7.0.0.
 */
table {
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
