/**
 * @file
 * This file is used to style the 'Frontpage' view.
 */

.view-frontpage .view-header {
  margin-top: 1.3rem;
  margin-bottom: 0.4rem;
  padding: 0 1.266rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 0.2;
}
/* Large */
@media screen and (min-width: 60em) { /* 960px */
  .view-frontpage .view-header {
    margin-bottom: 0.3rem;
    padding-right: 2.37rem;
    padding-left: 2.37rem;
    font-size: 1.77rem;
  }
}

.tdr-front {
  padding: 0 1.266rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px !important;
  font-weight: 600 !important;
  line-height: 1.2;
  text-transform: uppercase;
  color: #507d8e;
}
