/**
 * @file
 * This file is used to style the main menu.
 */

.menu-main {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: max-height 0.5s ease-in;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.266rem;
  font-weight: 400;
  line-height: 1.2;
}
.menu-main--active {
  overflow-y: auto;
  /**
   * An exact max-height value must be set to make possible to animate the menu display.
   * It my not be much larger than the content because that would break the animation.
   * See: https://css-tricks.com/using-css-transitions-auto-dimensions/
   */
  max-height: 20.95rem;
}
.menu-main-toggle {
  width: 61px;
  height: 61px;
  margin-right: -9px;
  /* the padding, margin & transparent border means the hamburger doesn't move on focus/hover */
  padding: 0 6px;
  text-align: left;
  border: 3px solid transparent;
  border-radius: 0;
  background-color: transparent;
  line-height: 1;
}
.menu-main-toggle:hover {
  background-color: transparent;
}
.menu-main-toggle svg {
  display: block;
}
.menu-main__item {
  margin-top: 0.8em;
  margin-left: 20%;
  text-align: left;
  letter-spacing: -1px;
  color: #0d1214;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
}
.menu-main__link {
  display: inline-block;
  /* Margin required for focus outlines. */
  margin: 5px 3px;
  padding-bottom: 0.15em;
  transition: all 0.2s;
  text-decoration: none;
  color: inherit;
  border-bottom: solid 0.15em transparent;
  background-color: inherit;
  text-transform: uppercase;
}
.menu-main__link:hover,
.menu-main__link.is-active:hover,
.menu-main__link:focus {
  text-decoration: none;
  color: #0062c0;
  border-bottom-color: #0062c0;
  background-color: inherit;
}
.menu-main__link:active,
.menu-main__link.is-active {
  text-decoration: none;
  border-bottom-color: #0062c0;
}

@media screen and (min-width: 348em) {
  .menu-main {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-height: none;
  }
  .menu-main__item {
    margin-top: 0;
    margin-bottom: 0;
  }
  .menu-main__item + .menu-main__item {
    margin-left: 2.5em; /* LTR */
  }
  [dir="rtl"] .menu-main__item + .menu-main__item {
    margin-right: 2.5em;
    margin-left: 0;
  }
}

@media screen and (min-width: 348em) {
  .menu-main-togglewrap {
    display: none;
  }  .menu-main-timewrap {
    display: none;
  }
  .menu-main-serveswrap {
    display: none;
  }
  .menu-main-phonewrap {
    display: none;
  }
}

.menu-main__wrapper {
  flex: 0 1 100%;
  text-align: center;
}

@media screen and (min-width: 348em) {
  .menu-main__wrapper {
    flex-basis: calc(100% - 220px);
    flex-grow: 0;
    flex-shrink: 1;
    text-align: right;
  }
}

@media screen and (min-width: 348em) {
  .menu-main {
    display: flex;
    justify-content: flex-end;
  }
}

.centered-container{
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
.reviewer-info{
  margin:8px;
  text-align:left;
}
.reviewer-name{
  margin:8px 8px 4px;
}
.review-source{
  margin:4px 8px 8px;
}
.review-source-icon{
  margin:8px;
}

input {
  display: none;
}

.open {
  z-index: 501;
  background-color: #0195d3;
  width: 50px;
  height: 3px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: #0195d3;
  width: 50px;
  height: 3px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #0195d3;
  width: 50px;
  height: 3px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 50px;
  height: 20px;
  display: block;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu-vw {
  z-index: 500;
  position: fixed;
      width: 80%;
      height: 100vh;
      top: 0;
      right: 0;
      background: #ffffff;
      background-color: #fff;
      box-shadow: 0 0 372px rgba(0,0,0,0.5);
}

.menu-vw label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu-vw .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: left;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu-vw ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu-vw ul li a {
  flex-grow: 1;
      text-decoration: none;
      letter-spacing: -1px;
      color: #0d1214;
      font-size: 28px;
      font-weight: bold;
      line-height: 36px;
}

.menu-vw ul li a:hover {
  color: #0062c0;
}

.menu-vw ul li:hover {
  background: white;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: #0195d3;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: #0195d3;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

.title  {
  color: #005dbe;
}

[type=radio] {
  display: none;
}

#slider {
  height: 350px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 80%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background: #00BCD4 }
#slide2 { background: #4CAF50 }
#slide3 { background: #CDDC39 }
#slide4 { background: #FFC107 }
#slide5 { background: #FF5722 }
